
<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Innovation</h4>
            <p>
                <b class="text-size-20">Our mission is to deliver optimal solutions with quality and services</b>
                For us customer satisfaction is given top place.  
                <b class="text-size-20">We always try to improve the quality of our products by exploring innovative ideas.</b>
            </p>
        </div>
        </div>
        
        <div class="col-md-3">
          <h4>Follow Us</h4>
              <ul class="social-network social-circle">
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              </ul>				
      </div>
      </div>
    <div class="row">
      <div class="col-md-12 copy">
        <p class="text-center">&copy; Copyright 2020 - thehbhf.com.  All rights reserved.</p>
      </div>
    </div>
  
  
    </div>
    </div>
  </footer>
