{% extends 'base.html' %}

{% block content %}
{% if SearchCriteria %}
    {{ SearchCriteria}}
{% endif %}

{% if api %}
    {% if api == "error..." %}
        There was an error, Please try again...
    {% else %}
        

        <!-- <div class="jumbotron container"> -->
            <!-- {% if all_items %}
                <h3>Items Available in Store..</h3>
                <ul>
                    {% for items in all_items %}
                        <li>{{items.itemname}} | {{items.itemsize}}</li>
                    {% endfor %}
                </ul>
            {% endif %} -->

            
            <marquee><p class="lead">{{ api.0.ReportingArea }} Air Quality Index is {{ api.0.AQI }} as observed on {{ api.0.DateObserved }} {{ api.0.Category.Name }}</p></marquee>
            
            <!-- <hr class="my-4"> -->
            
        <!-- </div> -->

    {% endif %}
{% endif %}
{% endblock %}