.thehbhffont {
  color:  #f3ecec;
  background-color: #e50000;
  background: #16222A;
}

.quadrat {
  width: 220px;
  height: 40px;
  -webkit-animation: coronavirusanimation 1s infinite;  /* Safari 4+ */
  -moz-animation: coronavirusanimation 1s infinite;  /* Fx 5+ */
  -o-animation: coronavirusanimation 1s infinite;  /* Opera 12+ */
  animation: coronavirusanimation 1s infinite;  /* IE 10+, Fx 29+ */
}

@keyframes coronavirusanimation {
  0%, 49% {
/* background-color: rgb(117, 209, 63);*/
  background-color: #690404;
  border: 2px solid #e50000;
        }
  50%, 100% {
  background-color: #e50000;
  /*border: 3px solid rgb(117, 209, 63);*/
  border: 2px solid #690404;;
}
}



.quadratnote {
  width: 640px;
  height: 40px;
  -webkit-animation: coronavirusnotification 1s infinite;  /* Safari 4+ */
  -moz-animation: coronavirusnotification 1s infinite;  /* Fx 5+ */
  -o-animation: coronavirusnotification 1s infinite;  /* Opera 12+ */
  animation: coronavirusnotification 1s infinite;  /* IE 10+, Fx 29+ */
}

@keyframes coronavirusnotification {
  0%, 49% {
/* background-color: rgb(117, 209, 63);*/
  background-color: #690404;
  border: 2px solid #e50000;
        }
  50%, 100% {
  background-color: #e50000;
  /*border: 3px solid rgb(117, 209, 63);*/
  border: 2px solid #690404;;
}
}
/*FOOTER*/

footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}



/* Search Functionality*/
#myInput {
            background-image: url('/static/admin/img/search/search_1.png'); /* Add a search icon to input */
            background-position: 10px 12px; /* Position the search icon */
            background-repeat: no-repeat; /* Do not repeat the icon image */
            width: 100%; /* Full-width */
            font-size: 16px; /* Increase font-size */
            padding: 12px 20px 12px 40px; /* Add some padding */
            border: 1px solid #ddd; /* Add a grey border */
            margin-bottom: 12px; /* Add some space below the input */
        }

.counter {
          background-color:#f5f5f5;
          padding: 20px 0;
          border-radius: 5px;
        }

.count-title {
font-size: 40px;
font-weight: normal;
margin-top: 10px;
margin-bottom: 0;
text-align: center;
}

.count-text {
font-size: 13px;
font-weight: normal;
margin-top: 10px;
margin-bottom: 0;
text-align: center;
}

.fa-2x {
margin: 0 auto;
float: none;
display: table;
color: #4ad1e5;
}